.community-forum {
	margin-top: 4rem;
}

.question-input {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.question-input-box {
	font-size: 3rem;
	text-align: center;
	margin: 2rem;
	padding: 20px;
	height: 4rem;
	min-width: 300px;
	width: 60vw;
	border: none;
	border-bottom: orangered 2px solid;
}

.submit-ques {
	font-size: 1.5rem;
	color: #fff;
	height: 3.5rem;
	width: 7rem;
	border: none;
	border-radius: 50px;
	background-color: orangered;
}

.recent-ques {
	font-size: 1.1rem;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.question {
	width: 80%;
	padding: 1.5rem 3rem;
	margin: 10px auto;
	border: 1px solid chartreuse;
}

.question small {
	float: right;
}

.question .ques, .question .ans {
	padding: 5px 0;
}

.give-answer {
	margin: 10px 0;
	float: right;
	border: none;
	padding: 10px 15px;
	font-size: 1.05rem;
	border-radius: 50px;
}

.submit-answer-popup {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: 60vw;
	border-radius: 10px;
	background-color: thistle;
	transition: all 20ms ease;
	/* visibility: hidden; */
	display: none;
	pointer-events: none;
}

.answer-input {
	padding: 10px 20px;
	margin: 10px;
	font-size: 1.1rem;
	height: 3rem;
	width: 80%;
	/* background-color: transparent; */
	border: none;
	border-bottom: 1px solid steelblue;
}

.answer-submit {
	border: none;
	margin: 25px;
	padding: 10px 15px;
	border-radius: 50px;
	font-size: 1.2rem;
}

.active {
	top: 50%;
	transition: all 20ms ease;
	display: block;
	/* visibility: visible; */
	display: block;
	pointer-events: all;
}