.herobox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(255, 252, 68);
    margin-top: 4rem;
  }
  
  .herobox img {
    margin: 5px;
  }
  
  .herobox .hero-title {
    font-size: 1.1rem;
  }
  
  .hero-title h3 {
    font-size: 2rem;
  }