.navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
    height: 4rem;
    padding: 10px 20px;
    position: fixed;
    top: 0;
  }
  
  .navbar h1 {
    flex: 2;
    color: orangered;
  }
  
  .navbar input {
    flex: 4;
    max-width: 400px;
    margin: 0 auto;
    justify-self: stretch;
    height: 2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    padding: 0 10px;
  }
  
  .navbar .fa-search {
    padding: 10px;
    font-size: 1.6rem;
    color: rgb(161, 53, 53);
  }
  
  .btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .btn button {
    padding: 5px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 2rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: salmon;
    color: #ffffff;
  }
  