<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/BookCard.css">
    <link rel="stylesheet" href="../App.css">
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <link rel="stylesheet" href="../CSS/Cart.css">
    <title>Cart</title>
</head>
<body>
    
    <div class="navbar">
        <h1>BOOXMATE</h1>
        <input type="text" name="search" id="search" placeholder="Search for a Book..." />
        <i class="fas fa-search"></i>
        <div class="btn">
            <button class="btn-cart">Cart</button>
            <button class="btn-login">Log In</button>
        </div>
    </div>
    
    <div class="cart-body">
        <h2>Book in your Cart: </h2>
        <div class="bookcardforcart">  
            <div class="bookcard-left" >
                <p>this.props.bookname</p>
                <small class="location">this.props.location</small>
                <small class="date">this.props.postdate</small>
            </div>
            <div class="bookcard-right">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <p>Rs.this.props.price</p>
                <button class="btn-details"> View Details </button>
            </div>
        </div>
        <p>Requested to "name of owner of that book"</p>
    </div>

</body>
</html>